.shareContainer {
    margin: 0 auto;
    width: 1800px;
    height: 1300px;
    position: relative;
    padding-top: 11px;
}

.shareImg {
    margin: 0 auto;
    width: 1800px;
    height: 200px;
    background: url(img/svisual_img.png);
}

.shareContentWrap {
    width: 1400px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 200px;
    display: flex;
    justify-content: space-between;
}

/* 네비 */
.shareContentWrap>.shareNav {
    width: 300px;
    height: auto;
}

.shareContentWrap>.shareNav>ul>li {
    width: 298px;
    height: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #e3e3e3;
    border-top: none;
}

.shareContentWrap>.shareNav>ul>li>span {
    padding-left: 20px;
}

.shareContentWrap>.shareNav>ul>li>span > a {
	text-decoration: none;
	color: #000;
}

.shareContentWrap>.shareNav>ul>li>.keyword > a {
	text-decoration: none;
	color: #f36207;
}

.shareContentWrap>.shareNav>ul>.navTitle {
    width: 300px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f36207;
    color: #fff;
    font-size: 30px;
    padding-top: 11px;
    border-left: none;
    border-right: none;
}

.shareContentWrap>.shareContentBox {
    width: 1050px;
    height: auto;
}

/* contentTitle */
.shareContentWrap>.shareContentBox>.shareContentTitle {
    width: 1050px;
    height: 120px;
}

.shareContentWrap>.shareContentBox>.shareContentTitle>.contentTitle {
    font-size: 36px;
    color: #fff;
    height: 60px;
}

.shareContentWrap>.shareContentBox>.shareContentTitle>.contentNav {
    height: 60px;
    color: #fff;
    font-size: 20px;
}

.shareContentWrap>.shareContentBox>.shareContentTitle>.contentNav>.arrow {
    display: inline-block;
    width: 8px;
    height: 20px;
    margin: 0 10px;
    background: url(img/ico_naviArrow.png)0 50% no-repeat;
    vertical-align: top;
}

.shareContentWrap>.shareContentBox>.shareContent {
    width: 1050px;
    height: auto;
    /* background-color: pink; */
}

/* joinNav */
.joinNav > ul {
    display: flex;
    padding-top: 50px;
}

.joinNav > ul > li {
    width : 200px;
    height : 50px;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}

.joinNav > ul > li:first-child {
    border-left: 1px solid #e3e3e3;
}

.joinNav > ul > .keyNav {
    background-color: #f36207;
    color: #fff;
}

.joinNav > ul > li > img {
    width: 19px;
    height: 50px;
    position: absolute;
    top : 0;
    left : 220px;
    z-index: 3;
}

.joinAgreeForm {
    width: 700px;
    padding-bottom: 50px;
}

.joinAgreeForm > div {
    padding: 50px 0px;
}

.joinAgreeForm > div > h2 {
    font-size: 25px;
    padding-bottom: 20px;
}

.joinAgreeForm > div > h2 > span {
    color: red;
}

.joinAgreeForm > div > textarea {
    height: 10em;
    overflow-y: scroll;
    text-align: left;
    width: 700px;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #e3e3e3;
    background-color: #eee;
}

.joinAgreeForm > div > .joinAgreeCheckBox {
    padding-top: 20px;
    float: right;
}

.joinAgreeBtn {
    width : 150px;
    height : 40px;
    margin: 50px auto 0;
    display: block;
    background-color: #f36207;
    color: #fff;
    border: none;
    cursor: pointer;
    
}