.shareContainer {
    margin: 0 auto;
    width: 1800px;
    height: 800px;
    position: relative;
    padding-top: 11px;
}

.shareImg {
    margin: 0 auto;
    width: 1800px;
    height: 200px;
    background: url(img/svisual_img.png);
}

.shareContentWrap {
    width: 1400px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 200px;
    display: flex;
    justify-content: space-between;
}

/* 네비 */
.shareContentWrap>.shareNav {
    width: 300px;
    height: auto;
}

.shareContentWrap>.shareNav>ul>li {
    width: 298px;
    height: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #e3e3e3;
    border-top: none;
}

.shareContentWrap>.shareNav>ul>li>span {
    padding-left: 20px;
}

.shareContentWrap>.shareNav>ul>li>span > a {
	text-decoration: none;
	color: #000;
}

.shareContentWrap>.shareNav>ul>li>.keyword > a {
	text-decoration: none;
	color: #f36207;
}

.shareContentWrap>.shareNav>ul>.navTitle {
    width: 300px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f36207;
    color: #fff;
    font-size: 30px;
    padding-top: 11px;
    border-left: none;
    border-right: none;
}

.shareContentWrap>.shareContentBox {
    width: 1050px;
    height: auto;
}

/* contentTitle */
.shareContentWrap>.shareContentBox>.shareContentTitle {
    width: 1050px;
    height: 120px;
}

.shareContentWrap>.shareContentBox>.shareContentTitle>.contentTitle {
    font-size: 36px;
    color: #fff;
    height: 60px;
}

.shareContentWrap>.shareContentBox>.shareContentTitle>.contentNav {
    height: 60px;
    color: #fff;
    font-size: 20px;
}

.shareContentWrap>.shareContentBox>.shareContentTitle>.contentNav>.arrow {
    display: inline-block;
    width: 8px;
    height: 20px;
    margin: 0 10px;
    background: url(img/ico_naviArrow.png)0 50% no-repeat;
    vertical-align: top;
}

.shareContentWrap>.shareContentBox>.shareContent {
    width: 800px;
    height: auto;
}

.shareContent > div {
    padding-top: 60px;
}

.shareContent > div > h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.shareContent > div > p {
    line-height: 30px;
    padding-bottom: 50px;
}

.shareContent > .memberCancleForm > table {
    width : 800px;
    height : 150px;
    text-align: left;
}

.shareContent > .memberCancleForm > table tr th ,td {
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    padding-left: 20px;
}

.shareContent > .memberCancleForm > table tr td {
	border-bottom: 1px solid #ccc;
    vertical-align: middle;
    padding-left: 20px;
}

.shareContent > .memberCancleForm table tr:first-child {
    border-top: 2px solid #000;
}

.shareContent > .memberCancleForm > table tr th {
    background-color: #e3e3e3;
}

.shareContent > .memberCancleForm > table tr td > input {
    padding: 5px 40px;
}

.memberCancleForm > input {
    width : 200px;
    height : 40px;
    background-color: #f36207;
    color: #fff;
    border: none;
    display: block;
    margin : 40px auto 0;
    cursor: pointer;
}